<div class="layer-popup">
	<div class="popup">
		<!-- Popup Content -->
		<div class="popup-content">
			<!-- 상단 버튼 영역 -->
			<div class="section-button">
				<a href="javascript:;" class="btn-basic" (click)="cancel()">취소</a>
				<a href="javascript:;" class="btn-action" (click)="done()">적용</a>
			</div>
			<!-- //상단 버튼 영역 -->

			<!-- 타이틀 영역 -->
			<div class="section-title">
				<h1 class="txt-title">데이터 소스 등록하기</h1>
			</div>
			<!-- //타이틀 영역 -->

			<!-- 데이터 소스 등록하기 -->
			<div class="section-data-source">
				<p class="txt-desc">
					사용할 <strong>데이터 소스 정보</strong>를 등록하세요.
				</p>

				<!-- 데이터 선택 -->
				<table class="table-data">
					<colgroup>
						<col width="120"/>
						<col width="*"/>
					</colgroup>
					<tbody>
					<tr>
						<th>
							<label class="label">데이터베이스</label>
						</th>
						<td>
							<div common-select
								 #selectBox
								 [items]="DATABASE_TYPE_LIST"
								 [placeholder]="'데이터베이스 선택'"
								 (itemSelect)="dataBaseTypeSelect($event)">
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label">데이터 소스 이름</label>
						</th>
						<td>
							<input type="text" class="input-text" placeholder="데이터 소스 이름을 입력하세요." [(ngModel)]="dataSourceEntity.name">
						</td>
					</tr>
					</tbody>
				</table>
				<!-- //데이터 선택 -->

				<!-- 데이터 정보 입력 -->
				<div *ngIf="dataSourceEntity.databaseType === dataSourceDatabaseType.HIVE" hive #dataBaseInformation></div>
				<div *ngIf="dataSourceEntity.databaseType === dataSourceDatabaseType.MYSQL" mysql #dataBaseInformation></div>
				<!-- //데이터 정보 입력 -->
			</div>
			<!-- //데이터 소스 등록하기 -->
		</div>
		<!-- //Popup Content -->
	</div>
</div>
