@charset "utf-8";

/***************************************************************************************
   데이타 추출
***************************************************************************************/
.page-data-extract {
	// 공통 타이틀 영역
	.title-area {
		&:after {
			@extend %clear;
		}
		.txt-title {
			float:left;
			font-size:14px;
			color:#262a50;
		}
		[class*="btn-"] {
			float:right;
		}
	}

	// 조건영역이 없는 경우
	.section-condition[aria-expanded="true"] {
		.condition-area,
		.btn-condition-expand {
			display:none;
		}
		.start-area {
			margin:10px 0 0;
			border-top:1px solid #e3e3e3;
		}
	}

	// 조건
	.section-condition {
		.btn-reset {
			margin-top:3px;
		}

		.condition-area {
			height:1px;
			margin-top:10px;
			background-color:#f8f8fa;

			@include radius(4px 4px 0 0);

			// 조건영역 접기/펼치기
			&[aria-expanded="true"] {
				height:auto;
				padding:5px 15px 10px;

				.form-condition {
					display:block;
				}

				& + .start-area + .btn-condition-expand {
					@include rotate(0);
				}
			}

			.form-condition {
				display:none;

				&:after {
					@extend %clear;
				}
				> li {
					float:left;
					width:33.3333%;
					padding:15px 0 0 15px;

					@extend %box-sizing;
				}
				.txt-label {
					display:block;
					margin:0 0 5px;
					font-size:13px;
					color:#333;
					font-weight:bold;
				}
				.txt-desc {
					min-height:12px;
					margin:4px 0 0;
					font-size:11px;
					color:#aaa;
				}
				.component-datepicker .box-datepicker {
					width:100%;
				}
				.form-regist {
					flex-flow:row nowrap;

					@extend %flex;

					.regist-input {
						@include flex(auto);
					}
					.regist-button {
						padding:3px 0 0 15px;

						@include flex(initial);
					}
					.btn-basic {
						min-width:auto;
					}
				}
			}
		}

		.start-area {
			padding:16px 30px 16px 0;
			border-bottom:1px solid #e3e3e3;
			background-color:#f2f5f7;
			text-align:right;

			.input-text {
				width:100px;
				text-align:right;
			}
			.btn-action {
				margin-left:8px;
			}
		}

		.btn-condition-expand {
			display:block;
			margin:10px auto 0;

			@include get-sprite($arrow_condition_fold);
			@include rotate(180);
		}
	}

	// Query 결과
	.section-query {
		margin-top:20px;

		.title-area .txt-title {
			margin-top:12px;
		}

		.query-area {
			overflow:hidden;
			height:480px;
			margin-top:10px;
			border:1px solid #e3e3e3;

			@include radius(4px);
			@extend %box-sizing;
		}

		.component-query {
			height:100%;

			.slick-row > .slick-cell {
				line-height:38px;
			}
		}

		// No Data
		.nodata-query {
			height:100%;
			text-align:center;

			&:before {
				display:inline-block;
				width:1px;
				height:100%;
				vertical-align:middle;
				content:'';
			}

			.txt-desc {
				display:inline-block;
				vertical-align:middle;
				font-size:12px;
				color:#c7c8cf;

				&:before {
					display:block;
					margin:0 auto 15px;
					content:'';

					@include get-sprite($icon_nodata_query);
				}
			}
		}
	}
}
