%sprite-image {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin get-sprite($sprite) {
  @extend %sprite-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

$arrow_category: 1136px 289px -1136px -289px 8px 4px 1145px 1036px '../images/sprite.png';
$arrow_category_disabled: 1105px 485px -1105px -485px 8px 4px 1145px 1036px '../images/sprite.png';
$arrow_category_on: 1117px 485px -1117px -485px 8px 4px 1145px 1036px '../images/sprite.png';
$arrow_comm_step: 1139px 840px -1139px -840px 5px 8px 1145px 1036px '../images/sprite.png';
$arrow_condition_fold: 1104px 729px -1104px -729px 23px 12px 1145px 1036px '../images/sprite.png';
$arrow_filter_selectbox: 1139px 530px -1139px -530px 6px 3px 1145px 1036px '../images/sprite.png';
$arrow_filter_selectbox_on: 1136px 578px -1136px -578px 6px 3px 1145px 1036px '../images/sprite.png';
$arrow_header_quick: 1105px 757px -1105px -757px 20px 14px 1145px 1036px '../images/sprite.png';
$arrow_help_prev: 1067px 405px -1067px -405px 16px 28px 1145px 1036px '../images/sprite.png';
$arrow_language: 1136px 602px -1136px -602px 6px 3px 1145px 1036px '../images/sprite.png';
$arrow_lnb: 1137px 897px -1137px -897px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_all: 1137px 932px -1137px -932px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_analysis: 998px 467px -998px -467px 7px 9px 1145px 1036px '../images/sprite.png';
$arrow_lnb_app: 1139px 299px -1139px -299px 6px 9px 1145px 1036px '../images/sprite.png';
$arrow_lnb_menu: 1009px 467px -1009px -467px 7px 9px 1145px 1036px '../images/sprite.png';
$arrow_lnb_nodata: 1137px 948px -1137px -948px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_on: 998px 438px -998px -438px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_report: 1020px 467px -1020px -467px 7px 9px 1145px 1036px '../images/sprite.png';
$arrow_page: 1009px 438px -1009px -438px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_page_on: 1020px 438px -1020px -438px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_popup_authority: 1067px 729px -1067px -729px 13px 24px 1145px 1036px '../images/sprite.png';
$arrow_popup_org: 1031px 438px -1031px -438px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_quick: 1136px 269px -1136px -269px 9px 16px 1145px 1036px '../images/sprite.png';
$arrow_quick_comm: 1090px 780px -1090px -780px 20px 12px 1145px 1036px '../images/sprite.png';
$arrow_search_more: 1042px 438px -1042px -438px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_selectbox: 1115px 426px -1115px -426px 10px 5px 1145px 1036px '../images/sprite.png';
$arrow_selectbox_on: 1129px 426px -1129px -426px 10px 5px 1145px 1036px '../images/sprite.png';
$arrow_step: 1033px 453px -1033px -453px 8px 7px 1145px 1036px '../images/sprite.png';
$arrow_swipe: 1067px 461px -1067px -461px 15px 28px 1145px 1036px '../images/sprite.png';
$arrow_swipe_on: 1086px 461px -1086px -461px 15px 28px 1145px 1036px '../images/sprite.png';
$arrow_user_detail: 1139px 312px -1139px -312px 6px 9px 1145px 1036px '../images/sprite.png';
$arrow_user_detail_on: 1139px 517px -1139px -517px 6px 9px 1145px 1036px '../images/sprite.png';
$bg_line_dotted: 1067px 932px -1067px -932px 2px 42px 1145px 1036px '../images/sprite.png';
$bg_lnb_admin: 530px 384px -530px -384px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_app: 764px 384px -764px -384px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_comm: 530px 542px -530px -542px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_meta: 764px 542px -764px -542px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_my: 0px 768px 0px -768px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_tree_line: 1129px 485px -1129px -485px 12px 1px 1145px 1036px '../images/sprite.png';
$icon_admin: 1106px 704px -1106px -704px 17px 17px 1145px 1036px '../images/sprite.png';
$icon_app_add: 1136px 565px -1136px -565px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_app_delete: 998px 384px -998px -384px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_app_install: 1136px 589px -1136px -589px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_app_modify: 1012px 384px -1012px -384px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_app_setting: 1067px 821px -1067px -821px 15px 15px 1145px 1036px '../images/sprite.png';
$icon_app_setting_hover: 1086px 821px -1086px -821px 15px 15px 1145px 1036px '../images/sprite.png';
$icon_app_usage: 1091px 964px -1091px -964px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_authority_del: 1136px 612px -1136px -612px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_authority_del_on: 1136px 635px -1136px -635px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_box_delete: 1012px 426px -1012px -426px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_btn_add: 1083px 1026px -1083px -1026px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_btn_download: 1096px 1026px -1096px -1026px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_btn_usage: 1107px 964px -1107px -964px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_calendar_large: 1095px 241px -1095px -241px 25px 22px 1145px 1036px '../images/sprite.png';
$icon_check_language: 1024px 426px -1024px -426px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_checkbox: 1114px 780px -1114px -780px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_checkbox_hover: 1130px 780px -1130px -780px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_checkbox_on: 1073px 932px -1073px -932px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_checkbox_on_hover: 1089px 932px -1089px -932px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_close_error: 1130px 978px -1130px -978px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_close_info: 1127px 995px -1127px -995px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_close_quick: 1132px 680px -1132px -680px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_close_success: 1067px 1011px -1067px -1011px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_close_warning: 1082px 1011px -1082px -1011px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_comm_comment: 1067px 995px -1067px -995px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_comm_comment_w: 1082px 995px -1082px -995px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_comm_faq: 1103px 840px -1103px -840px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_comm_filter: 1026px 384px -1026px -384px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_comm_filter_on: 1040px 384px -1040px -384px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_comm_more: 1084px 116px -1084px -116px 37px 30px 1145px 1036px '../images/sprite.png';
$icon_comm_notice: 1129px 757px -1129px -757px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_comm_qna: 1121px 840px -1121px -840px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_common_search: 1067px 861px -1067px -861px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_create: 1109px 1026px -1109px -1026px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_data_del: 1036px 426px -1036px -426px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_data_del_hover: 1048px 426px -1048px -426px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_datepicker: 1125px 798px -1125px -798px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_datepicker_on: 1124px 821px -1124px -821px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_detail_install: 1122px 1026px -1122px -1026px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_detail_usage: 1123px 964px -1123px -964px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_detail_usage_on: 1126px 1011px -1126px -1011px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_download: 1135px 1026px -1135px -1026px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_edit_cancel: 1084px 150px -1084px -150px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_edit_cancel_hover: 1114px 150px -1114px -150px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_edit_save: 1084px 180px -1084px -180px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_edit_save_hover: 1114px 180px -1114px -180px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_error_404: 438px 768px -438px -768px 160px 106px 1145px 1036px '../images/sprite.png';
$icon_error_access: 1067px 0px -1067px 0px 78px 112px 1145px 1036px '../images/sprite.png';
$icon_error_server: 0px 926px 0px -926px 123px 110px 1145px 1036px '../images/sprite.png';
$icon_file_delete: 1009px 453px -1009px -453px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_file_download: 1054px 384px -1054px -384px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_file_download_hover: 1054px 398px -1054px -398px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_gnb_complete: 1085px 861px -1085px -861px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_gnb_notice: 1088px 680px -1088px -680px 16px 19px 1145px 1036px '../images/sprite.png';
$icon_gnb_notice_hover: 1067px 680px -1067px -680px 17px 20px 1145px 1036px '../images/sprite.png';
$icon_gnb_process: 1090px 565px -1090px -565px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_gnb_regist: 1113px 565px -1113px -565px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_help: 1103px 861px -1103px -861px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_help_close: 1097px 1011px -1097px -1011px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_help_hover: 1121px 861px -1121px -861px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_info_map: 1067px 879px -1067px -879px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_intro_admin: 1067px 517px -1067px -517px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_intro_all: 1124px 241px -1124px -241px 21px 22px 1145px 1036px '../images/sprite.png';
$icon_intro_analysis: 1067px 589px -1067px -589px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_intro_comm: 1092px 355px -1092px -355px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_intro_dgc: 1067px 213px -1067px -213px 24px 24px 1145px 1036px '../images/sprite.png';
$icon_intro_dt: 1091px 541px -1091px -541px 21px 19px 1145px 1036px '../images/sprite.png';
$icon_intro_home: 1093px 329px -1093px -329px 22px 21px 1145px 1036px '../images/sprite.png';
$icon_intro_metatron: 1121px 381px -1121px -381px 22px 20px 1145px 1036px '../images/sprite.png';
$icon_intro_report: 1067px 757px -1067px -757px 15px 19px 1145px 1036px '../images/sprite.png';
$icon_intro_search: 1090px 589px -1090px -589px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_layer_close: 1103px 897px -1103px -897px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_complete: 1105px 932px -1105px -932px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_layer_image_close: 1120px 897px -1120px -897px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_notice: 1067px 978px -1067px -978px 11px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_process: 1067px 915px -1067px -915px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_regist: 1084px 915px -1084px -915px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_lnb_add_app: 1085px 879px -1085px -879px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_lnb_admin: 1091px 517px -1091px -517px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_all: 1067px 355px -1067px -355px 21px 22px 1145px 1036px '../images/sprite.png';
$icon_lnb_analysis: 1113px 589px -1113px -589px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_analysis_app: 1123px 213px -1123px -213px 22px 22px 1145px 1036px '../images/sprite.png';
$icon_lnb_analysis_recently: 1127px 704px -1127px -704px 17px 17px 1145px 1036px '../images/sprite.png';
$icon_lnb_app: 1090px 635px -1090px -635px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_lnb_board: 1084px 729px -1084px -729px 16px 18px 1145px 1036px '../images/sprite.png';
$icon_lnb_comm: 1119px 355px -1119px -355px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_datasearch: 1093px 437px -1093px -437px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_dgc: 1095px 213px -1095px -213px 24px 24px 1145px 1036px '../images/sprite.png';
$icon_lnb_dgc_on: 1067px 241px -1067px -241px 24px 24px 1145px 1036px '../images/sprite.png';
$icon_lnb_dt: 1116px 541px -1116px -541px 21px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_favorite: 1084px 840px -1084px -840px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_lnb_finddata: 1087px 405px -1087px -405px 26px 17px 1145px 1036px '../images/sprite.png';
$icon_lnb_home: 1119px 329px -1119px -329px 22px 21px 1145px 1036px '../images/sprite.png';
$icon_lnb_info: 1012px 412px -1012px -412px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_lnb_link: 1084px 798px -1084px -798px 16px 15px 1145px 1036px '../images/sprite.png';
$icon_lnb_meta: 1118px 437px -1118px -437px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_metatron: 1117px 493px -1117px -493px 22px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_my: 1117px 405px -1117px -405px 20px 15px 1145px 1036px '../images/sprite.png';
$icon_lnb_portal: 1105px 821px -1105px -821px 15px 15px 1145px 1036px '../images/sprite.png';
$icon_lnb_report: 1086px 757px -1086px -757px 15px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_report_app: 1067px 565px -1067px -565px 19px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_report_recently: 1067px 840px -1067px -840px 13px 17px 1145px 1036px '../images/sprite.png';
$icon_lnb_search: 1103px 879px -1103px -879px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_lnb_search_on: 1101px 915px -1101px -915px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_menu_nodata: 1067px 798px -1067px -798px 13px 19px 1145px 1036px '../images/sprite.png';
$icon_new_window: 1085px 897px -1085px -897px 14px 13px 1145px 1036px '../images/sprite.png';
$icon_nodata_analysis: 1067px 612px -1067px -612px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_nodata_dashboard: 945px 768px -945px -768px 100px 74px 1145px 1036px '../images/sprite.png';
$icon_nodata_datasearch: 1105px 461px -1105px -461px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_nodata_dt: 1113px 635px -1113px -635px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_nodata_query: 1090px 612px -1090px -612px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_nodata_report: 1130px 461px -1130px -461px 15px 20px 1145px 1036px '../images/sprite.png';
$icon_nodata_source: 1067px 704px -1067px -704px 16px 21px 1145px 1036px '../images/sprite.png';
$icon_notice_close: 1118px 915px -1118px -915px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_notice_detail: 1082px 978px -1082px -978px 11px 13px 1145px 1036px '../images/sprite.png';
$icon_popup_help: 1121px 879px -1121px -879px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_profile_close: 1025px 412px -1025px -412px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_quick: 1067px 116px -1067px -116px 13px 93px 1145px 1036px '../images/sprite.png';
$icon_radio: 1121px 932px -1121px -932px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_radio_hover: 1073px 948px -1073px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_radio_on: 1089px 948px -1089px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_regist_dashboard: 721px 768px -721px -768px 108px 82px 1145px 1036px '../images/sprite.png';
$icon_regist_extraction: 602px 768px -602px -768px 115px 82px 1145px 1036px '../images/sprite.png';
$icon_regist_url: 833px 768px -833px -768px 108px 82px 1145px 1036px '../images/sprite.png';
$icon_reply_add_fold: 1045px 453px -1045px -453px 7px 7px 1145px 1036px '../images/sprite.png';
$icon_reply_add_unfold: 1056px 453px -1056px -453px 7px 7px 1145px 1036px '../images/sprite.png';
$icon_request_data_collection: 1125px 116px -1125px -116px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_data_extract: 1067px 269px -1067px -269px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_data_generate: 1090px 269px -1090px -269px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_data_verification: 1113px 269px -1113px -269px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_meta: 1067px 299px -1067px -299px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_report_generate: 1090px 299px -1090px -299px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_reset: 1067px 1026px -1067px -1026px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_review_extend: 1141px 405px -1141px -405px 3px 13px 1145px 1036px '../images/sprite.png';
$icon_review_extend_on: 1141px 541px -1141px -541px 3px 13px 1145px 1036px '../images/sprite.png';
$icon_review_fold: 1087px 426px -1087px -426px 10px 6px 1145px 1036px '../images/sprite.png';
$icon_review_unfold: 1101px 426px -1101px -426px 10px 6px 1145px 1036px '../images/sprite.png';
$icon_search: 1113px 612px -1113px -612px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_search_column: 1135px 915px -1135px -915px 10px 11px 1145px 1036px '../images/sprite.png';
$icon_search_comment: 1114px 978px -1114px -978px 12px 11px 1145px 1036px '../images/sprite.png';
$icon_search_database: 1135px 658px -1135px -658px 10px 13px 1145px 1036px '../images/sprite.png';
$icon_search_delete: 998px 398px -998px -398px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_search_department: 998px 453px -998px -453px 7px 10px 1145px 1036px '../images/sprite.png';
$icon_search_good: 1131px 729px -1131px -729px 14px 12px 1145px 1036px '../images/sprite.png';
$icon_search_info: 1067px 897px -1067px -897px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_search_table: 1097px 978px -1097px -978px 13px 11px 1145px 1036px '../images/sprite.png';
$icon_search_use: 1112px 1011px -1112px -1011px 10px 11px 1145px 1036px '../images/sprite.png';
$icon_search_user: 1053px 438px -1053px -438px 7px 11px 1145px 1036px '../images/sprite.png';
$icon_search_views: 1073px 964px -1073px -964px 14px 10px 1145px 1036px '../images/sprite.png';
$icon_selectbox: 1021px 453px -1021px -453px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_sort: 1031px 467px -1031px -467px 7px 8px 1145px 1036px '../images/sprite.png';
$icon_sort_on: 1042px 467px -1042px -467px 7px 8px 1145px 1036px '../images/sprite.png';
$icon_title_admin: 1115px 517px -1115px -517px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_title_analysis: 1067px 635px -1067px -635px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_title_app: 1067px 658px -1067px -658px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_title_comm: 1067px 381px -1067px -381px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_title_comm_sitemap: 1094px 381px -1094px -381px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_title_datasearch: 1067px 493px -1067px -493px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_title_dt: 1090px 658px -1090px -658px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_title_meta: 1092px 493px -1092px -493px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_title_my: 1108px 680px -1108px -680px 20px 15px 1145px 1036px '../images/sprite.png';
$icon_title_portal: 1067px 541px -1067px -541px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_title_report: 1087px 704px -1087px -704px 15px 20px 1145px 1036px '../images/sprite.png';
$icon_toast_error: 1113px 299px -1113px -299px 22px 22px 1145px 1036px '../images/sprite.png';
$icon_toast_info: 1067px 329px -1067px -329px 22px 22px 1145px 1036px '../images/sprite.png';
$icon_toast_success: 1067px 780px -1067px -780px 19px 14px 1145px 1036px '../images/sprite.png';
$icon_toast_warning: 1067px 437px -1067px -437px 22px 20px 1145px 1036px '../images/sprite.png';
$icon_total: 1104px 798px -1104px -798px 17px 14px 1145px 1036px '../images/sprite.png';
$icon_tree: 1038px 412px -1038px -412px 10px 8px 1145px 1036px '../images/sprite.png';
$icon_tree_fold: 1052px 412px -1052px -412px 10px 8px 1145px 1036px '../images/sprite.png';
$icon_tree_unfold: 998px 426px -998px -426px 10px 8px 1145px 1036px '../images/sprite.png';
$icon_user_help: 1113px 658px -1113px -658px 18px 18px 1145px 1036px '../images/sprite.png';
$icon_var_delete: 1097px 995px -1097px -995px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_var_delete_on: 1112px 995px -1112px -995px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_zoom_in: 1012px 398px -1012px -398px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_zoom_in_hover: 1026px 398px -1026px -398px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_zoom_out: 1040px 398px -1040px -398px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_zoom_out_hover: 998px 412px -998px -412px 10px 10px 1145px 1036px '../images/sprite.png';
$loading_intro: 0px 0px 0px 0px 1063px 380px 1145px 1036px '../images/sprite.png';
$loading_intro_min: 0px 384px 0px -384px 526px 380px 1145px 1036px '../images/sprite.png';
$login_checkbox: 1105px 948px -1105px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$login_checkbox_on: 1121px 948px -1121px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$logo: 234px 768px -234px -768px 200px 154px 1145px 1036px '../images/sprite.png';
$logo2: 743px 700px -743px -700px 258px 38px 1145px 1036px '../images/sprite.png';
$logo_index: 649px 878px -649px -878px 151px 24px 1145px 1036px '../images/sprite.png';
$logo_index2: 530px 700px -530px -700px 209px 59px 1145px 1036px '../images/sprite.png';
$logo_sub: 804px 878px -804px -878px 151px 24px 1145px 1036px '../images/sprite.png';
$logo_sub2: 438px 878px -438px -878px 207px 31px 1145px 1036px '../images/sprite.png';
