%sprite-image {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin get-sprite($sprite) {
  @extend %sprite-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

$arrow_category: 1136px 289px -1136px -289px 8px 4px 1145px 1036px '../images/sprite.png';
$arrow_category_disabled: 1105px 485px -1105px -485px 8px 4px 1145px 1036px '../images/sprite.png';
$arrow_category_on: 1117px 485px -1117px -485px 8px 4px 1145px 1036px '../images/sprite.png';
$arrow_comm_step: 1140px 839px -1140px -839px 5px 8px 1145px 1036px '../images/sprite.png';
$arrow_condition_fold: 1105px 756px -1105px -756px 23px 12px 1145px 1036px '../images/sprite.png';
$arrow_filter_selectbox: 1139px 553px -1139px -553px 6px 3px 1145px 1036px '../images/sprite.png';
$arrow_filter_selectbox_on: 1137px 579px -1137px -579px 6px 3px 1145px 1036px '../images/sprite.png';
$arrow_header_quick: 1123px 728px -1123px -728px 20px 14px 1145px 1036px '../images/sprite.png';
$arrow_help_prev: 1067px 405px -1067px -405px 16px 28px 1145px 1036px '../images/sprite.png';
$arrow_language: 1136px 601px -1136px -601px 6px 3px 1145px 1036px '../images/sprite.png';
$arrow_lnb: 1137px 564px -1137px -564px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_all: 1137px 948px -1137px -948px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_analysis: 1138px 1027px -1138px -1027px 7px 9px 1145px 1036px '../images/sprite.png';
$arrow_lnb_app: 1139px 299px -1139px -299px 6px 9px 1145px 1036px '../images/sprite.png';
$arrow_lnb_menu: 998px 481px -998px -481px 7px 9px 1145px 1036px '../images/sprite.png';
$arrow_lnb_nodata: 1138px 964px -1138px -964px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_on: 998px 440px -998px -440px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_lnb_report: 1009px 481px -1009px -481px 7px 9px 1145px 1036px '../images/sprite.png';
$arrow_page: 1009px 440px -1009px -440px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_page_on: 1020px 440px -1020px -440px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_popup_authority: 1067px 728px -1067px -728px 13px 24px 1145px 1036px '../images/sprite.png';
$arrow_popup_org: 1031px 440px -1031px -440px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_quick: 1136px 269px -1136px -269px 9px 16px 1145px 1036px '../images/sprite.png';
$arrow_quick_comm: 1090px 779px -1090px -779px 20px 12px 1145px 1036px '../images/sprite.png';
$arrow_search_more: 1042px 440px -1042px -440px 7px 11px 1145px 1036px '../images/sprite.png';
$arrow_selectbox: 1115px 426px -1115px -426px 10px 5px 1145px 1036px '../images/sprite.png';
$arrow_selectbox_on: 1129px 426px -1129px -426px 10px 5px 1145px 1036px '../images/sprite.png';
$arrow_step: 1022px 469px -1022px -469px 8px 7px 1145px 1036px '../images/sprite.png';
$arrow_swipe: 1067px 461px -1067px -461px 15px 28px 1145px 1036px '../images/sprite.png';
$arrow_swipe_on: 1086px 461px -1086px -461px 15px 28px 1145px 1036px '../images/sprite.png';
$arrow_user_detail: 1139px 312px -1139px -312px 6px 9px 1145px 1036px '../images/sprite.png';
$arrow_user_detail_on: 1139px 540px -1139px -540px 6px 9px 1145px 1036px '../images/sprite.png';
$bg_line_dotted: 1067px 948px -1067px -948px 2px 42px 1145px 1036px '../images/sprite.png';
$bg_lnb_admin: 530px 384px -530px -384px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_app: 764px 384px -764px -384px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_comm: 530px 542px -530px -542px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_meta: 764px 542px -764px -542px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_lnb_my: 0px 768px 0px -768px 230px 154px 1145px 1036px '../images/sprite.png';
$bg_tree_line: 1129px 485px -1129px -485px 12px 1px 1145px 1036px '../images/sprite.png';
$icon_admin: 1107px 703px -1107px -703px 17px 17px 1145px 1036px '../images/sprite.png';
$icon_app_add: 1136px 588px -1136px -588px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_app_delete: 1026px 384px -1026px -384px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_app_install: 1136px 611px -1136px -611px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_app_modify: 1040px 384px -1040px -384px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_app_setting: 1067px 820px -1067px -820px 15px 15px 1145px 1036px '../images/sprite.png';
$icon_app_setting_hover: 1086px 820px -1086px -820px 15px 15px 1145px 1036px '../images/sprite.png';
$icon_app_usage: 1091px 980px -1091px -980px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_authority_del: 1136px 634px -1136px -634px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_authority_del_on: 1136px 657px -1136px -657px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_box_delete: 1009px 455px -1009px -455px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_btn_add: 1099px 1027px -1099px -1027px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_btn_download: 1112px 1027px -1112px -1027px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_btn_usage: 1107px 980px -1107px -980px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_calendar_large: 1095px 241px -1095px -241px 25px 22px 1145px 1036px '../images/sprite.png';
$icon_check_language: 1021px 455px -1021px -455px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_checkbox: 1132px 756px -1132px -756px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_checkbox_hover: 1132px 779px -1132px -779px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_checkbox_on: 1118px 931px -1118px -931px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_checkbox_on_hover: 1073px 948px -1073px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_close_error: 1113px 994px -1113px -994px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_close_info: 1128px 994px -1128px -994px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_close_quick: 1067px 914px -1067px -914px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_close_success: 1097px 1011px -1097px -1011px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_close_warning: 1112px 1011px -1112px -1011px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_comm_comment: 1134px 931px -1134px -931px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_comm_comment_w: 1082px 994px -1082px -994px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_comm_faq: 1122px 839px -1122px -839px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_comm_filter: 998px 399px -998px -399px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_comm_filter_on: 1012px 399px -1012px -399px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_comm_more: 1084px 116px -1084px -116px 37px 30px 1145px 1036px '../images/sprite.png';
$icon_comm_notice: 1125px 797px -1125px -797px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_comm_qna: 1067px 860px -1067px -860px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_common_search: 1085px 860px -1085px -860px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_create: 1125px 1027px -1125px -1027px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_data_del: 1033px 455px -1033px -455px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_data_del_hover: 1045px 455px -1045px -455px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_datepicker: 1124px 820px -1124px -820px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_datepicker_on: 1084px 839px -1084px -839px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_detail_install: 1054px 384px -1054px -384px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_detail_usage: 1123px 980px -1123px -980px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_detail_usage_on: 1067px 1027px -1067px -1027px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_download: 1054px 399px -1054px -399px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_edit_cancel: 1084px 150px -1084px -150px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_edit_cancel_hover: 1114px 150px -1114px -150px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_edit_save: 1084px 180px -1084px -180px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_edit_save_hover: 1114px 180px -1114px -180px 26px 26px 1145px 1036px '../images/sprite.png';
$icon_error_404: 438px 768px -438px -768px 160px 106px 1145px 1036px '../images/sprite.png';
$icon_error_access: 1067px 0px -1067px 0px 78px 112px 1145px 1036px '../images/sprite.png';
$icon_error_server: 0px 926px 0px -926px 123px 110px 1145px 1036px '../images/sprite.png';
$icon_file_delete: 998px 469px -998px -469px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_file_download: 1040px 413px -1040px -413px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_file_download_hover: 1053px 413px -1053px -413px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_gnb_complete: 1103px 860px -1103px -860px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_gnb_notice: 1087px 703px -1087px -703px 16px 19px 1145px 1036px '../images/sprite.png';
$icon_gnb_notice_hover: 1067px 679px -1067px -679px 17px 20px 1145px 1036px '../images/sprite.png';
$icon_gnb_process: 1114px 564px -1114px -564px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_gnb_regist: 1067px 588px -1067px -588px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_help: 1121px 860px -1121px -860px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_help_close: 1127px 1011px -1127px -1011px 11px 11px 1145px 1036px '../images/sprite.png';
$icon_help_hover: 1067px 878px -1067px -878px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_info_map: 1085px 878px -1085px -878px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_intro_admin: 1067px 540px -1067px -540px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_intro_all: 1124px 241px -1124px -241px 21px 22px 1145px 1036px '../images/sprite.png';
$icon_intro_analysis: 1090px 588px -1090px -588px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_intro_comm: 1092px 355px -1092px -355px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_intro_dgc: 1067px 213px -1067px -213px 24px 24px 1145px 1036px '../images/sprite.png';
$icon_intro_dt: 1093px 517px -1093px -517px 21px 19px 1145px 1036px '../images/sprite.png';
$icon_intro_home: 1093px 329px -1093px -329px 22px 21px 1145px 1036px '../images/sprite.png';
$icon_intro_metatron: 1121px 381px -1121px -381px 22px 20px 1145px 1036px '../images/sprite.png';
$icon_intro_report: 1067px 756px -1067px -756px 15px 19px 1145px 1036px '../images/sprite.png';
$icon_intro_search: 1113px 588px -1113px -588px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_layer_close: 1084px 914px -1084px -914px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_complete: 1089px 948px -1089px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_layer_image_close: 1101px 914px -1101px -914px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_notice: 1134px 679px -1134px -679px 11px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_process: 1118px 914px -1118px -914px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_layer_regist: 1067px 931px -1067px -931px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_lnb_add_app: 1103px 878px -1103px -878px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_lnb_admin: 1091px 540px -1091px -540px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_all: 1067px 355px -1067px -355px 21px 22px 1145px 1036px '../images/sprite.png';
$icon_lnb_analysis: 1067px 611px -1067px -611px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_analysis_app: 1123px 213px -1123px -213px 22px 22px 1145px 1036px '../images/sprite.png';
$icon_lnb_analysis_recently: 1128px 703px -1128px -703px 17px 17px 1145px 1036px '../images/sprite.png';
$icon_lnb_app: 1113px 634px -1113px -634px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_lnb_board: 1103px 728px -1103px -728px 16px 18px 1145px 1036px '../images/sprite.png';
$icon_lnb_comm: 1119px 355px -1119px -355px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_datasearch: 1119px 437px -1119px -437px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_dgc: 1095px 213px -1095px -213px 24px 24px 1145px 1036px '../images/sprite.png';
$icon_lnb_dgc_on: 1067px 241px -1067px -241px 24px 24px 1145px 1036px '../images/sprite.png';
$icon_lnb_dt: 1118px 517px -1118px -517px 21px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_favorite: 1103px 839px -1103px -839px 15px 14px 1145px 1036px '../images/sprite.png';
$icon_lnb_finddata: 1087px 405px -1087px -405px 26px 17px 1145px 1036px '../images/sprite.png';
$icon_lnb_home: 1119px 329px -1119px -329px 22px 21px 1145px 1036px '../images/sprite.png';
$icon_lnb_info: 998px 427px -998px -427px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_lnb_link: 1084px 797px -1084px -797px 16px 15px 1145px 1036px '../images/sprite.png';
$icon_lnb_meta: 1105px 461px -1105px -461px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_metatron: 1067px 517px -1067px -517px 22px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_metatron_prep: 1067px 437px -1067px -437px 22px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_my: 1117px 405px -1117px -405px 20px 15px 1145px 1036px '../images/sprite.png';
$icon_lnb_portal: 1105px 820px -1105px -820px 15px 15px 1145px 1036px '../images/sprite.png';
$icon_lnb_report: 1086px 756px -1086px -756px 15px 19px 1145px 1036px '../images/sprite.png';
$icon_lnb_report_app: 1091px 564px -1091px -564px 19px 20px 1145px 1036px '../images/sprite.png';
$icon_lnb_report_recently: 1067px 839px -1067px -839px 13px 17px 1145px 1036px '../images/sprite.png';
$icon_lnb_search: 1121px 878px -1121px -878px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_lnb_search_on: 1084px 931px -1084px -931px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_menu_nodata: 1067px 797px -1067px -797px 13px 19px 1145px 1036px '../images/sprite.png';
$icon_new_window: 1121px 896px -1121px -896px 14px 13px 1145px 1036px '../images/sprite.png';
$icon_nodata_analysis: 1090px 611px -1090px -611px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_nodata_dashboard: 945px 768px -945px -768px 100px 74px 1145px 1036px '../images/sprite.png';
$icon_nodata_datasearch: 1067px 493px -1067px -493px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_nodata_dt: 1067px 657px -1067px -657px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_nodata_query: 1113px 611px -1113px -611px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_nodata_report: 1130px 461px -1130px -461px 15px 20px 1145px 1036px '../images/sprite.png';
$icon_nodata_source: 1067px 703px -1067px -703px 16px 21px 1145px 1036px '../images/sprite.png';
$icon_notice_close: 1101px 931px -1101px -931px 13px 13px 1145px 1036px '../images/sprite.png';
$icon_notice_detail: 1067px 994px -1067px -994px 11px 13px 1145px 1036px '../images/sprite.png';
$icon_popup_help: 1067px 896px -1067px -896px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_private: 1085px 896px -1085px -896px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_profile_close: 1011px 427px -1011px -427px 9px 9px 1145px 1036px '../images/sprite.png';
$icon_quick: 1067px 116px -1067px -116px 13px 93px 1145px 1036px '../images/sprite.png';
$icon_radio: 1105px 948px -1105px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_radio_hover: 1121px 948px -1121px -948px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_radio_on: 1073px 964px -1073px -964px 12px 12px 1145px 1036px '../images/sprite.png';
$icon_regist_dashboard: 721px 768px -721px -768px 108px 82px 1145px 1036px '../images/sprite.png';
$icon_regist_extraction: 602px 768px -602px -768px 115px 82px 1145px 1036px '../images/sprite.png';
$icon_regist_url: 833px 768px -833px -768px 108px 82px 1145px 1036px '../images/sprite.png';
$icon_reply_add_fold: 1034px 469px -1034px -469px 7px 7px 1145px 1036px '../images/sprite.png';
$icon_reply_add_unfold: 1045px 469px -1045px -469px 7px 7px 1145px 1036px '../images/sprite.png';
$icon_request_data_collection: 1125px 116px -1125px -116px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_data_extract: 1067px 269px -1067px -269px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_data_generate: 1090px 269px -1090px -269px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_data_verification: 1113px 269px -1113px -269px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_meta: 1067px 299px -1067px -299px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_request_report_generate: 1090px 299px -1090px -299px 19px 26px 1145px 1036px '../images/sprite.png';
$icon_reset: 1083px 1027px -1083px -1027px 12px 9px 1145px 1036px '../images/sprite.png';
$icon_review_extend: 1141px 405px -1141px -405px 3px 13px 1145px 1036px '../images/sprite.png';
$icon_review_extend_on: 1142px 493px -1142px -493px 3px 13px 1145px 1036px '../images/sprite.png';
$icon_review_fold: 1087px 426px -1087px -426px 10px 6px 1145px 1036px '../images/sprite.png';
$icon_review_unfold: 1101px 426px -1101px -426px 10px 6px 1145px 1036px '../images/sprite.png';
$icon_search: 1067px 634px -1067px -634px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_search_column: 998px 384px -998px -384px 10px 11px 1145px 1036px '../images/sprite.png';
$icon_search_comment: 1097px 994px -1097px -994px 12px 11px 1145px 1036px '../images/sprite.png';
$icon_search_database: 1135px 914px -1135px -914px 10px 13px 1145px 1036px '../images/sprite.png';
$icon_search_delete: 1026px 399px -1026px -399px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_search_department: 998px 455px -998px -455px 7px 10px 1145px 1036px '../images/sprite.png';
$icon_search_good: 1114px 779px -1114px -779px 14px 12px 1145px 1036px '../images/sprite.png';
$icon_search_info: 1103px 896px -1103px -896px 14px 14px 1145px 1036px '../images/sprite.png';
$icon_search_table: 1121px 964px -1121px -964px 13px 11px 1145px 1036px '../images/sprite.png';
$icon_search_use: 1012px 384px -1012px -384px 10px 11px 1145px 1036px '../images/sprite.png';
$icon_search_user: 1053px 440px -1053px -440px 7px 11px 1145px 1036px '../images/sprite.png';
$icon_search_views: 1073px 980px -1073px -980px 14px 10px 1145px 1036px '../images/sprite.png';
$icon_selectbox: 1010px 469px -1010px -469px 8px 8px 1145px 1036px '../images/sprite.png';
$icon_sort: 1020px 481px -1020px -481px 7px 8px 1145px 1036px '../images/sprite.png';
$icon_sort_on: 1031px 481px -1031px -481px 7px 8px 1145px 1036px '../images/sprite.png';
$icon_title_admin: 1115px 540px -1115px -540px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_title_analysis: 1090px 634px -1090px -634px 19px 19px 1145px 1036px '../images/sprite.png';
$icon_title_app: 1090px 657px -1090px -657px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_title_comm: 1067px 381px -1067px -381px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_title_comm_sitemap: 1094px 381px -1094px -381px 23px 20px 1145px 1036px '../images/sprite.png';
$icon_title_datasearch: 1092px 493px -1092px -493px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_title_dt: 1113px 657px -1113px -657px 19px 18px 1145px 1036px '../images/sprite.png';
$icon_title_meta: 1117px 493px -1117px -493px 21px 20px 1145px 1036px '../images/sprite.png';
$icon_title_my: 1110px 679px -1110px -679px 20px 15px 1145px 1036px '../images/sprite.png';
$icon_title_portal: 1067px 564px -1067px -564px 20px 20px 1145px 1036px '../images/sprite.png';
$icon_title_report: 1084px 728px -1084px -728px 15px 20px 1145px 1036px '../images/sprite.png';
$icon_toast_error: 1113px 299px -1113px -299px 22px 22px 1145px 1036px '../images/sprite.png';
$icon_toast_info: 1067px 329px -1067px -329px 22px 22px 1145px 1036px '../images/sprite.png';
$icon_toast_success: 1067px 779px -1067px -779px 19px 14px 1145px 1036px '../images/sprite.png';
$icon_toast_warning: 1093px 437px -1093px -437px 22px 20px 1145px 1036px '../images/sprite.png';
$icon_total: 1104px 797px -1104px -797px 17px 14px 1145px 1036px '../images/sprite.png';
$icon_tree: 1024px 427px -1024px -427px 10px 8px 1145px 1036px '../images/sprite.png';
$icon_tree_fold: 1038px 427px -1038px -427px 10px 8px 1145px 1036px '../images/sprite.png';
$icon_tree_unfold: 1052px 427px -1052px -427px 10px 8px 1145px 1036px '../images/sprite.png';
$icon_user_help: 1088px 679px -1088px -679px 18px 18px 1145px 1036px '../images/sprite.png';
$icon_var_delete: 1067px 1011px -1067px -1011px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_var_delete_on: 1082px 1011px -1082px -1011px 11px 12px 1145px 1036px '../images/sprite.png';
$icon_zoom_in: 1040px 399px -1040px -399px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_zoom_in_hover: 998px 413px -998px -413px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_zoom_out: 1012px 413px -1012px -413px 10px 10px 1145px 1036px '../images/sprite.png';
$icon_zoom_out_hover: 1026px 413px -1026px -413px 10px 10px 1145px 1036px '../images/sprite.png';
$loading_intro: 0px 0px 0px 0px 1063px 380px 1145px 1036px '../images/sprite.png';
$loading_intro_min: 0px 384px 0px -384px 526px 380px 1145px 1036px '../images/sprite.png';
$login_checkbox: 1089px 964px -1089px -964px 12px 12px 1145px 1036px '../images/sprite.png';
$login_checkbox_on: 1105px 964px -1105px -964px 12px 12px 1145px 1036px '../images/sprite.png';
$logo: 234px 768px -234px -768px 200px 154px 1145px 1036px '../images/sprite.png';
$logo2: 530px 700px -530px -700px 258px 38px 1145px 1036px '../images/sprite.png';
$logo_index: 792px 700px -792px -700px 155px 24px 1145px 1036px '../images/sprite.png';
$logo_index2: 438px 878px -438px -878px 155px 24px 1145px 1036px '../images/sprite.png';
$logo_sub: 597px 878px -597px -878px 155px 24px 1145px 1036px '../images/sprite.png';
$logo_sub2: 756px 878px -756px -878px 155px 24px 1145px 1036px '../images/sprite.png';
