<!-- 통합검색 -->
<!--suppress NsUnresolvedStyleClassReference, JSUnnecessarySemicolon, JSValidateTypes -->
<div class="page-search">

	<!-- 전체 검색결과가 없는 경우 -->
	<div class="section-nodata" [attr.aria-hidden]="globalSearchService.searchResultCount !== 0">
		<dl class="txt-nodata">
			<dt>{{ translateService.instant('GLOBAL.SEARCH.NODATA.TITLE', '검색결과가 없으시다면?') }}</dt>
			<dd>
				<ul class="list-desc">
					<li>{{ translateService.instant('GLOBAL.SEARCH.NODATA.DESC1', '단어의 철자가 정확한지 확인해 보세요.') }}</li>
					<li>{{ translateService.instant('GLOBAL.SEARCH.NODATA.DESC2', '한글을 영어로, 혹은 영어를 한글로 입력했는지 다시 확인해 보세요.') }}</li>
					<li>{{ translateService.instant('GLOBAL.SEARCH.NODATA.DESC3', '검색어의 단어 수를 줄이거나, 일반적인 검색어로 다시 검색해 보세요.') }}</li>
					<li>{{ translateService.instant('GLOBAL.SEARCH.NODATA.DESC4', '두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요.') }}</li>
				</ul>
			</dd>
		</dl>
	</div>
	<!-- //전체 검색결과가 없는 경우 -->

	<!-- TAB -->
	<ul tab
		*ngIf="globalSearchService.searchResultCount > 0"
		[tabLabelList]="globalSearchService.resultPageTabList"
		[selectIndex]="currentGlobalSearchTypeEnumIndex"
		(oSelected)="selectedTab($event)">
	</ul>
	<!-- //TAB -->

	<!-- 커뮤니케이션 -->
	<div class="detail-content">
		<ul class="list-result"
			*ngIf="metaColumnEntity.contentsList.length > 0">
			<li *ngFor="let content of metaColumnEntity.contentsList">
				<a href="javascript:;"
				   class="link-title"
				   (click)="tagging(TaggingType.DETAIL, TaggingAction.BTN, content.source.logicalNm === null || content.source.logicalNm.trim() == '' ? content.source.physicalNm : content.source.logicalNm + ' / ' + content.source.physicalNm, '데이터 컬럼'); selectedSubjectColumn = content.source;">
					{{ content.source.logicalNm === null || content.source.logicalNm.trim() == '' ? content.source.physicalNm : content.source.logicalNm + ' / ' + content.source.physicalNm }}
				</a>

				<p class="txt-desc">
					{{ content.source.description }}
				</p>

				<div class="data-info">
						<span class="data-type"
							  *ngIf="content.source.dataType">
							{{ content.source.dataType }}
						</span>
					<span class="data-table" aria-label="테이블 수">{{ content.source.tableCnt }}</span>
				</div>
			</li>
		</ul>

		<!-- Nodata -->
		<div class="nodata-search" aria-hidden="false"
			 *ngIf="metaColumnEntity.contentsList.length === 0">
			{{ translateService.instant('GLOBAL.SEARCH.NODATA', '검색결과가 없습니다.') }}
		</div>
		<!-- //Nodata -->

		<!-- Pagination -->
		<div pagination (pageMove)="setCurrentPage($event)" [size]="page.size"></div>
		<!-- //Pagination -->
	</div>
	<!-- //커뮤니케이션 -->

</div>
<!-- //통합검색 -->

<div table-detail
	 *ngIf="selectedSubjectTable !== null"
	 [metaTableId]="selectedSubjectTable.id"
	 (onRowSelected)="OnSelectedSubjectColumn($event)"
	 (onCancel)="selectedSubjectTable = null;">
</div>

<div column-detail
	 *ngIf="selectedSubjectColumn !== null"
	 [metaColumnId]="selectedSubjectColumn.id"
	 (onRowSelected)="OnSelectedSubjectTable($event)"
	 (onCancel)="selectedSubjectColumn = null;">
</div>
