<!-- 등록 -->
<div class="section-register">
	<!-- Title -->
	<div class="title-area">
		<h3 class="txt-title">그룹 등록하기</h3>
	</div>
	<!-- //Title -->

	<!-- 등록 폼 -->
	<div class="register-area">
		<!-- [D] Validation Check tr태그에 is-error 클래스 추가 -->
		<table class="table-register">
			<colgroup>
				<col width="100"/>
				<col width="*"/>
			</colgroup>
			<tbody>
			<tr [class.is-error]="group.isGroupNmError">
				<th>
					<label class="label">그룹명</label>
				</th>
				<td>
					<input type="text" class="input-text" placeholder="그룹명을 입력해 주세요."
						   (focus)="group.isGroupNmError = false;"
						   [maxLength]="80"
						   [(ngModel)]="group.name">
				</td>
			</tr>
			<tr [class.is-error]="group.isGroupDescError">
				<th>
					<label class="label">그룹설명</label>
				</th>
				<td>
					<input type="text" class="input-text" placeholder="그룹에 대한 간략한 설명을 입력해 주세요."
						   (focus)="group.isGroupDescError = false;"
						   [maxLength]="1000"
						   [(ngModel)]="group.description">
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<!-- //등록 폼 -->

	<!-- 버튼 영역 -->
	<div class="button-area">
		<div class="left-block">
			<button type="button" class="btn-basic" (click)="cancel()">취소</button>
			<button type="button" class="btn-action" (click)="done()">저장</button>
		</div>
	</div>
	<!-- //버튼 영역 -->
</div>
<!-- //등록 -->
