<!--<div class="section-iframe">-->
<!--<div class="sample-content">-->
<!--<h2>파일 업로드 컴포넌트</h2>-->
<!--<div class="tab-area">-->
<!--<a href="javascript:" class="btn_tab" (click)="tab0()" [class.is_selected]="tabIndex === 0">View</a>-->
<!--<a href="javascript:" class="btn_tab" (click)="tab1()" [class.is_selected]="tabIndex === 1">Template</a>-->
<!--<a href="javascript:" class="btn_tab" (click)="tab2()" [class.is_selected]="tabIndex === 2">Source</a>-->
<!--</div>-->

<!--<div [class.is_activated]="tabIndex === 0" class="tab-content">-->
<!--<file-upload></file-upload>-->
<!--<input type="button" value="Upload" (click)="fileInput.upload();"/>-->
<!--</div>-->

<!--<div [class.is_activated]="tabIndex === 1" class="tab-content">-->
<!--<code-mirror #editor1 [config]="{-->
<!--mode: 'xml',-->
<!--indentWithTabs: true,-->
<!--smartIndent: true,-->
<!--lineNumbers: true,-->
<!--matchBrackets : true,-->
<!--autofocus: true}">-->
<!--</code-mirror>-->
<!--</div>-->

<!--<div [class.is_activated]="tabIndex === 2" class="tab-content">-->
<!--<code-mirror #editor2 [config]="{-->
<!--mode: 'xml',-->
<!--indentWithTabs: true,-->
<!--smartIndent: true,-->
<!--lineNumbers: true,-->
<!--matchBrackets : true,-->
<!--autofocus: true}">-->
<!--</code-mirror>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
