<!-- ERROR WRAP -->
<!--suppress NsUnresolvedStyleClassReference, JSUnnecessarySemicolon -->
<div class="dtp-error-wrap">
	<div class="error">
		<div class="section-error type-access">
			<p class="txt-desc">요청하신 페이지에 접근할 수 없습니다.</p>
			<span class="txt-contact">
				사이트 관리자(<a href="mailto:minsary@exntu.com" class="link-email">minsary@exntu.com</a>)에게 문의해 주세요.
			</span>
		</div>
		<div class="section-button">
			<a href="javascript:;" class="btn-basic" (click)="goBack()">돌아가기</a>
			<a href="javascript:;" class="btn-basic" (click)="goHome()">메인화면으로 이동</a>
		</div>
	</div>
</div>
<!-- //ERROR WRAP -->
