<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="CONSOLE_PATTERN"
            value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%X{ip}-%X{username}]){magenta} %clr([%thread]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>metatron-portal.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/home/hadoop/servers/metatron-portal/logs/metatron-portal.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>365</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${CONSOLE_PATTERN}</pattern>
    </encoder>
  </appender>


  <!-- tomcat 8 workaround

       http://stackoverflow.com/questions/26893297/tomcat-8-throwing-org-apache-catalina-webresources-cache-getresource-unable-to
  -->
  <!--<logger name="org.apache.catalina.webresources.Cache" level="error"/>-->

  <!-- show hibernate sql with debug -->
  <logger name="org.hibernate.SQL" level="debug"/>
  <!-- show bound hibernate parameters with trace -->
  <logger name="org.hibernate.type" level="debug"/>

  <logger name="org.hibernate.search" level="debug"/>

  <logger name="org.springframework.web" level="debug"/>

  <logger name="org.springframework.web.client" level="debug"/>

  <logger name="org.springframework.web.servlet.mvc" level="debug"/>

  <logger name="org.apache.http" level="warn"/>

  <logger name="org.springframework.data.rest" level="debug"/>

  <logger name="org.springframework.security" level="info"/>

  <logger name="org.springframework.session" level="info"/>

  <logger name="org.springframework.session.web.http.SessionRepositoryFilter.SESSION_LOGGER_NAME" level="debug"/>

  <logger name="app.metatron.portal" level="debug"/>

  <logger name="org.elasticsearch" level="debug"/>
  
  <root level="WARN">
    <appender-ref ref="TIME_BASED_FILE"/>
  </root>

  <jmxConfigurator/>

</configuration>
