<!--suppress NsUnresolvedStyleClassReference, JSUnnecessarySemicolon -->
<div class="layer-popup">
	<div class="popup">
		<!-- Popup Content -->
		<div class="popup-content">
			<!-- 상단 버튼 영역 -->
			<a href="javascript:;" class="btn-close" aria-label="닫기"
			   (click)="cancel()"></a>
			<!-- //상단 버튼 영역 -->

			<!-- 타이틀 영역 -->
			<div class="section-title">
				<h1 class="txt-title">주제영역 상세보기</h1>
				<span class="txt-sub">{{ subject ? subject.nmEn === undefined || subject.nmEn.trim() === '' ? subject.nmKr : subject.nmKr + ' (' + subject.nmEn + ')' : '' }}</span>
			</div>
			<!-- //타이틀 영역 -->

			<!-- 테이블 상세보기 -->
			<div class="section-metadata">
				<div class="top-area">
					<!-- 탭 메뉴 -->
					<ul class="list-tab">
						<li [attr.aria-selected]="true">
							<a href="javascript:;" class="link-tab">기본정보</a>
						</li>
					</ul>
					<!-- //탭 메뉴 -->
				</div>
				<!-- 기본 구성 -->
				<div class="tabcontent-area"
					 [attr.aria-expanded]="true">
					<div class="detail-block">
						<ul class="list-default">
							<li>
								<strong class="column-label">한글명</strong>
								<span class="column-desc">{{ subject ? subject.nmKr : '' }}</span>
							</li>
							<li>
								<strong class="column-label">영문명</strong>
								<span class="column-desc">{{ subject ? subject.nmEn : '' }}</span>
							</li>
							<li>
								<strong class="column-label">설명</strong>
								<span class="column-desc">{{ subject ? subject.description : '' }}</span>
							</li>
						</ul>
						<ul class="list-default">
							<li>
								<strong class="column-label">FQN</strong>
								<span class="column-desc">{{ subject ? subject.fqn : '' }}</span>
							</li>
							<li>
								<strong class="column-label">레벨 구분</strong>
								<span class="column-desc">{{ subject ? subject.level : '' }}</span>
							</li>
							<li>
								<strong class="column-label">상위 주제영역명</strong>
								<span class="column-desc">{{ subject ? subject.parentNm : '' }}</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //기본 구성 -->

			</div>
			<!-- //테이블 상세보기 -->
		</div>
		<!-- //Popup Content -->
	</div>
</div>
