<!-- ERROR WRAP -->
<!--suppress NsUnresolvedStyleClassReference, JSUnnecessarySemicolon -->
<div class="dtp-error-wrap">
	<div class="error">
		<div class="section-error type-server">
			<p class="txt-desc">현재 서버와의 통신이 원활하지 않습니다.</p>
			<span class="txt-contact">
				사이트 관리자(<a href="mailto:admin@incross.com" class="link-email">admin@incross.com</a>)에게 문의해 주세요.
			</span>
		</div>
		<div class="section-button">
			<a href="javascript:;" class="btn-basic" (click)="goBack()">돌아가기</a>
			<a href="javascript:;" class="btn-basic" (click)="goLogin()">로그인화면으로 이동</a>
		</div>
	</div>
</div>
<!-- //ERROR WRAP -->
