@charset "utf-8";

/***************************************************************************************
   EXTEND : BUTTON AREA
***************************************************************************************/
%button-area {
	padding:20px 0 0;
	border-top:1px solid #d4d4dc;

	&:after {
		@extend %clear;
	}

	.left-block {
		float:left;
	}
	.right-block {
		float:right;
	}
}

/***************************************************************************************
   EXTEND : BUTTON
***************************************************************************************/
[class*="dtp-"],
.layout-popup {
	.btn-basic,
	.btn-action {
		display:inline-block;
		min-width:130px;
		height:30px;
		padding:0 30px;
		border:1px solid #262a50;
		background-color:#fff;
		text-align:center;
		line-height:30px;
		font-size:12px;
		color:#262a50;

		@include radius(15px);
		@extend %box-sizing;

		&:hover {
			border-color:#7575ea;
			color:#7575ea;
		}

		&:disabled {
			cursor:default;
		}
	}

	.btn-action {
		background-color:#262a50;
		color:#fff;

		&:hover {
			background-color:#7575ea;
			color:#fff;
		}

		&:disabled {
			border-color:#bcbed2;
			background-color:#bcbed2;
			color:#e5e6ed;
		}
		&:disabled:before {
			opacity:0.7;
		}
	}

	// 다운로드
	.type-download {
		&:before {
			margin:0 5px 0 0;
			content:'';

			@include get-sprite($icon_download);
		}
		&:hover {
			border-color:#262a50;
			color:#262a50;
		}
	}

	// 실행
	.type-start:before {
		margin:10px 4px 0 0;
		vertical-align:top;
		content:'';

		@include get-sprite($icon_btn_usage);
	}

	// 추가
	.type-add:before {
		margin:9px 4px 0 0;
		vertical-align:top;
		content:'';

		@include get-sprite($icon_btn_download);
	}

	// 변수 입력
	.type-var {
		min-width:auto;
		height:26px;
		padding:0 15px;
		line-height:26px;

		&:before {
			margin:0 5px 0 0;
			content:'';

			@include get-sprite($icon_btn_add);
		}
		&:hover {
			border-color:#262a50;
			color:#262a50;
		}
	}

	// 초기화
	.btn-reset {
		display:inline-block;
		font-size:12px;
		color:#262a50;

		&:before {
			margin:1px 2px 0 0;
			vertical-align:top;
			content:'';

			@include get-sprite($icon_reset);
		}

		&:hover {
			color:#0c869b;

			&:before {
				@include get-sprite($icon_detail_usage_on);
			}
		}
	}

	// 확대,축소 버튼
	.btn-zoom {
		display:inline-block;
		position:relative;
		width:22px;
		height:22px;
		background-color:#e9e9ed;

		@include radius(2px);

		&:before {
			position:absolute;
			left:50%;
			top:50%;
			margin:-5px 0 0 -5px;
			content:'';

			@include get-sprite($icon_zoom_in);
		}

		&:hover {
			background-color:#e6f3f5;
		}
		&:hover:before {
			@include get-sprite($icon_zoom_in_hover);
		}
	}
}

/***************************************************************************************
   EXTEND : TABLE BUTTON
***************************************************************************************/
[class*="table-"],
.list-category {
	.btn-modify,
	.btn-delete {
		display:inline-block;
		position:relative;
		width:18px;
		height:18px;
		background-color:#aaa;

		@include radius(50%);

		&:before {
			position:absolute;
			left:50%;
			top:50%;
			margin:-5px 0 0 -5px;
			content:'';
		}
		&:hover {
			background-color:#7575ea;
		}
	}
	.btn-modify:before {
		@include get-sprite($icon_app_modify);
	}
	.btn-delete:before {
		@include get-sprite($icon_app_delete);
	}
	[class*="btn-"] + [class*="btn-"] {
		margin-left:5px;
	}
}

/***************************************************************************************
   EXTEND : TOGGLE BUTTON
***************************************************************************************/
.toggle {
	.label {
		display:inline-block;
		position:relative;
		width:48px;
		height:18px;
		background-color:#808080;
		font-size:11px;
		color:#fff;
		cursor:pointer;

		@include radius(9px);
		@include transition(background-color 0.2s ease);

		&:hover {
			background-color:#7575ea;
		}
		&:before {
			display:block;
			position:absolute;
			left:2px;
			top:50%;
			width:14px;
			height:14px;
			margin-top:-7px;
			background-color:#fff;
			content:'';

			@include radius(50%);
			@include transition(left 0.2s ease);
		}
		.txt-on,
		.txt-off {
			display:block;
			height:18px;
			line-height:20px;
		}
		.txt-on {
			display:none;
			padding-left:9px;
			text-align:left;
		}
		.txt-off {
			padding-right:7px;
			text-align:right;
		}

		&.is-activated {
			background-color:#f2ab25;

			&:before {
				left:32px;
			}
			.txt-on {
				display:block;
			}
			.txt-off {
				display:none;
			}
		}
	}
}

/***************************************************************************************
   EXTEND : File Download
***************************************************************************************/
%ui-file-download {
	.link-file {
		display:inline-block;
		max-width:90%;
		height:24px;
		margin:0 4px 4px 0;
		padding:0 8px 0 6px;
		background-color:#e3f3f6;
		line-height:24px;
		font-size:11px;
		color:#0c869b;
		vertical-align:top;

		@include radius(2px);
		@extend %ellipsis;

		&:before {
			margin:7px 6px 0 0;
			vertical-align:top;
			content:'';

			@include get-sprite($icon_file_download);
		}

		&:hover {
			background-color:#0c869b;
			color:#fff;

			&:before {
				@include get-sprite($icon_file_download_hover);
			}
		}
	}
}
