<!-- SWIPE -->
<div class="section-swipe type-app">
	<div class="swiper-container">
		<div class="swiper-wrapper" id="swiperWrapper">
			<div class="swiper-slide" id="swiperItem">
				<a href="javascript:;" class="link-swipe">
					<span class="img-swipe"></span>
					<span class="desc-swipe">
							<strong class="txt-title"></strong>
							<em class="txt-desc">
							</em>
						</span>
				</a>
			</div>
			<!-- //ITEM -->
		</div>
	</div>
	<!-- PREV/NEXT -->
	<div class="swiper-button-next" [attr.aria-label]="translateService.instant('COMMON.PREV', '이전')"></div>
	<div class="swiper-button-prev" [attr.aria-label]="translateService.instant('COMMON.NEXT', '다음')"></div>
	<!-- //PREV/NEXT -->
</div>
<!-- //SWIPE -->
